In [2]:
from pyspark.sql import SparkSession

# SparkSession oluştur
spark = SparkSession.builder \
    .appName("CSV_Reader") \
    .getOrCreate()

# CSV dosyasını oku, noktalı virgül ayırıcısını kullanarak
df = spark.read.option("header", "true") \
    .option("delimiter", ";") \
    .option("inferSchema", "true") \
    .csv("/home/jovyan/work/MarketSales.csv")

# Dataframe'in ilk birkaç satırını göster
df.show()

+-----+--------+--------------------+-------+---------------+------+-----+------------+-------+--------+----------------+------------------+---------+-----------------+--------+---------+----------+----------------+---------+--------------+---------------+---------------+------------------+---------------+---------------+------+
|   ID|ITEMCODE|            ITEMNAME|FICHENO|          DATE_|AMOUNT|PRICE|LINENETTOTAL|LINENET|BRANCHNR|          BRANCH|          SALESMAN|     CITY|           REGION|LATITUDE|LONGITUDE|CLIENTCODE|      CLIENTNAME|BRANDCODE|         BRAND| CATEGORY_NAME1| CATEGORY_NAME2|    CATEGORY_NAME3|      STARTDATE|        ENDDATE|GENDER|
+-----+--------+--------------------+-------+---------------+------+-----+------------+-------+--------+----------------+------------------+---------+-----------------+--------+---------+----------+----------------+---------+--------------+---------------+---------------+------------------+---------------+---------------+------+
|11738|    5863|SPRITE 1 LT LIMON...|  18456|7.01.2017 00:00|     1|    2|           2|   1,85|      52|  Kocaeli Subesi|         Eyüp CİNE|  Kocaeli|          Marmara| 40,8533|  29,8815|    467369|  Sercan KIZILOK|      156|        SPRİTE|         İÇECEK|   GAZLI İÇECEK|             GAZOZ|8.01.2017 16:16|8.01.2017 16:17|     E|
|10537|       8|           TOZ SEKER|  18105|6.01.2017 00:00|     5| 2,65|       13,25|  12,27|       8|  Antalya Subesi|      İlhan ÖRENLİ|  Antalya|          Akdeniz| 36,8841|  30,7056|    131464|    İsmet ŞINGIR|     NULL|          NULL|         İÇECEK|      ÇAY KAHVE|SEKER TATLANDIRICI|7.01.2017 11:04|7.01.2017 11:05|     E|
|11335|    5979|FALIM SAKIZ 5LI NANE|  18350|3.01.2017 00:00|     1|  0,4|         0,4|   0,37|      40| İstanbul Subesi|      İsmet SARTIK| İstanbul|          Marmara| 41,0053|   28,977|    656969|     Yağız KUBAL|      300|         FALIM|           GIDA|SAKIZ SEKERLEME|             SAKIZ|4.01.2017 14:00|4.01.2017 14:01|     E|
|11336|    5979|FALIM SAKIZ 5LI NANE|  18350|3.01.2017 00:00|     1|  0,4|         0,4|   0,37|      40| İstanbul Subesi|      İsmet SARTIK| İstanbul|          Marmara| 41,0053|   28,977|    656969|     Yağız KUBAL|      300|         FALIM|           GIDA|SAKIZ SEKERLEME|             SAKIZ|4.01.2017 14:00|4.01.2017 14:01|     E|
|10115|   12808|FALIM SAKIZ 5LI C...|  18005|5.01.2017 00:00|     1|  0,4|         0,4|   0,37|      41|    İzmir Subesi|      Gülten IŞLAK|    İzmir|              Ege| 38,4189|  27,1287|    447336|    Habibe AYSAN|      300|         FALIM|           GIDA|SAKIZ SEKERLEME|             SAKIZ|6.01.2017 14:00|6.01.2017 14:01|     K|
|10649|       8|           TOZ SEKER|  18127|6.01.2017 00:00|     2| 2,65|         5,3|   4,91|      29|   Elazığ Subesi|       Serap CARAN|   Elazığ|     Doğu Anadolu|  38,681|  39,2264|      9485|Görkem BALTAOGLU|     NULL|          NULL|         İÇECEK|      ÇAY KAHVE|SEKER TATLANDIRICI|7.01.2017 15:40|7.01.2017 15:41|     E|
|11845|    3202|F NEFFIS TOZ SEKE...|  18476|7.01.2017 00:00|     1|  5,6|         5,6|   5,19|      55|  Malatya Subesi|     Gülcan DÜZGEÇ|  Malatya|     Doğu Anadolu| 38,3552|  38,3095|      5481| Asel LÜLECİOĞLU|       49|      F NEFFİS|         İÇECEK|      ÇAY KAHVE|SEKER TATLANDIRICI|8.01.2017 17:20|8.01.2017 17:21|     K|
|11348|       8|           TOZ SEKER|  18354|3.01.2017 00:00|     2| 2,65|         5,3|   4,91|      40| İstanbul Subesi|       Arife DORAP| İstanbul|          Marmara| 41,0053|   28,977|    144939|      Efe HANÇAR|     NULL|          NULL|         İÇECEK|      ÇAY KAHVE|SEKER TATLANDIRICI|4.01.2017 14:40|4.01.2017 14:42|     E|
|10545|       8|           TOZ SEKER|  18106|6.01.2017 00:00|     2| 2,65|         5,3|   4,91|      56|   Manisa Subesi|        Adil ONDIN|   Manisa|              Ege| 38,6191|  27,4289|      7874|    Melisa GÜÇİN|     NULL|          NULL|         İÇECEK|      ÇAY KAHVE|SEKER TATLANDIRICI|7.01.2017 11:08|7.01.2017 11:08|     K|
|11411|    3205|F NEFFIS KESME SE...|  18365|3.01.2017 00:00|     1| 2,85|        2,85|   2,64|      59|    Muğla Subesi|     Remziye KESİM|    Muğla|              Ege| 37,2153|  28,3636|    784782|   Şükran COMART|       49|      F NEFFİS|         İÇECEK|      ÇAY KAHVE|SEKER TATLANDIRICI|4.01.2017 15:56|4.01.2017 15:57|     K|
|10472|   12743|KENT TOPITOP DISN...|  18090|5.01.2017 00:00|     1|  1,6|         1,6|   1,49|      60|      Muş Subesi|     Melisa KOZGAR|      Muş|     Doğu Anadolu| 38,9462|  41,7539|    771816|    Aynur KOZGAR|       79|          KENT|           GIDA|SAKIZ SEKERLEME|         ŞEKERLEME|6.01.2017 18:44|6.01.2017 18:45|     K|
|10304|   11340|VIVIDENT CZD FRUI...|  18040|5.01.2017 00:00|     1| 1,95|        1,95|    1,8|       1|    Adana Subesi|Ramazan SARIMEHMET|    Adana|          Akdeniz|      37|  35,3213|    630399|    Rahime KASAP|      148|      VİVİDENT|           GIDA|SAKIZ SEKERLEME|             SAKIZ|6.01.2017 19:52|6.01.2017 19:52|     K|
|  324|    6210|LAVACHE QUIRIT UC...|  15671|2.01.2017 00:00|     1| 3,45|        3,45|   3,19|      66|  Sakarya Subesi|     İlker BALOĞLU|  Sakarya|          Marmara|  40,694|  30,4358|    600916|       Zeki ŞALO|      198|LAVACHE-KARPER|SÜT KAHVALTILIK|         PEYNİR|              NULL|3.01.2017 15:00|3.01.2017 15:02|     E|
| 9660|    5710|       KIRMIZI BIBER|  17876|6.01.2017 00:00| 0,235| 4,95|        1,16|   1,07|      81|Zonguldak Subesi|Arzu KARAKİTAPOĞLU|Zonguldak|        Karadeniz| 41,4564|  31,7987|    575194|Hümeyra VEZNİKLİ|      A25|           HAL|    MEYVE SEBZE|          SEBZE|              NULL|7.01.2017 12:52|7.01.2017 12:53|     K|
| 9662|    5742|        CERI DOMATES|  17876|6.01.2017 00:00|  0,76| 4,75|        3,61|   3,34|      81|Zonguldak Subesi|Arzu KARAKİTAPOĞLU|Zonguldak|        Karadeniz| 41,4564|  31,7987|    575194|Hümeyra VEZNİKLİ|      A25|           HAL|    MEYVE SEBZE|          SEBZE|              NULL|7.01.2017 12:52|7.01.2017 12:53|     K|
| 9625|    5780|      SALKIM DOMATES|  17865|6.01.2017 00:00| 0,945|  5,2|        4,91|   4,55|      12|Balıkesir Subesi|     Sami KASIMOVA|Balıkesir|              Ege| 39,6484|  27,8826|     74884|   Miray KOÇOĞLU|      A25|           HAL|    MEYVE SEBZE|          SEBZE|              NULL|7.01.2017 11:12|7.01.2017 11:13|     K|
| 9748|    5715|             PATATES|  17902|6.01.2017 00:00|  2,79| 2,45|        6,84|   6,33|      12|Balıkesir Subesi|     Sami KASIMOVA|Balıkesir|              Ege| 39,6484|  27,8826|    521495|    Bilal PORSUK|      A25|           HAL|    MEYVE SEBZE|          SEBZE|              NULL|7.01.2017 14:28|7.01.2017 14:29|     E|
| 9852|    5780|      SALKIM DOMATES|  17925|6.01.2017 00:00| 0,745|  5,2|        3,87|   3,58|      48|Kırıkkale Subesi|      Sami ÇAYKARA|Kırıkkale|       İç Anadolu| 39,8468|  33,5153|    318719|   Hakan ÖZKUTEN|      A25|           HAL|    MEYVE SEBZE|          SEBZE|              NULL|7.01.2017 16:28|7.01.2017 16:29|     E|
| 5191|    5715|             PATATES|  16870|5.01.2017 00:00| 1,235| 2,45|        3,03|   2,81|      33|Gaziantep Subesi|       Dilan BAKİR|Gaziantep|Güneydoğu Anadolu| 37,0662|  37,3833|    522358|  Neslihan ŞAMİL|      A25|           HAL|    MEYVE SEBZE|          SEBZE|              NULL|6.01.2017 11:04|6.01.2017 11:04|     K|
| 3734|    2523|MAGGI CORBA KREMA...|  16638|5.01.2017 00:00|     1| 0,85|        0,85|   0,79|      33|Gaziantep Subesi|       Dilan BAKİR|Gaziantep|Güneydoğu Anadolu| 37,0662|  37,3833|     18004|  İlayda AKSOYLU|       90|         MAGGİ|           GIDA|   CORBA BULYON|          CORBALAR|6.01.2017 13:16|6.01.2017 13:18|     K|
+-----+--------+--------------------+-------+---------------+------+-----+------------+-------+--------+----------------+------------------+---------+-----------------+--------+---------+----------+----------------+---------+--------------+---------------+---------------+------------------+---------------+---------------+------+
only showing top 20 rows

In [3]:
df.select("DATE_").show(5)

+---------------+
|          DATE_|
+---------------+
|7.01.2017 00:00|
|6.01.2017 00:00|
|3.01.2017 00:00|
|3.01.2017 00:00|
|5.01.2017 00:00|
+---------------+
only showing top 5 rows

In [17]:
from pyspark.sql.functions import year, month, sum, to_timestamp

# Tarihi doğru formata dönüştür ve yıl/ay analizini yap
sales_trend = df.withColumn("DATE_FORMATTED", to_timestamp("DATE_", "d.MM.yyyy HH:mm")) \
                .withColumn("year", year("DATE_FORMATTED")) \
                .withColumn("month", month("DATE_FORMATTED")) \
                .groupBy("year", "month") \
                .agg(sum("LINENETTOTAL").alias("total_sales")) \
                .orderBy("year", "month")

sales_trend.show()

+----+-----+-----------+
|year|month|total_sales|
+----+-----+-----------+
|NULL| NULL|       NULL|
|2017|    1|    88857.0|
|2017|    2|    91138.0|
|2017|    3|   112005.0|
+----+-----+-----------+

In [6]:
from pyspark.sql.functions import year, month, sum, to_timestamp, datediff, max, count

# Tarihi doğru formata dönüştür
df_formatted = df.withColumn("DATE_FORMATTED", to_timestamp("DATE_", "d.MM.yyyy HH:mm"))

# Yıl ve aya göre toplam satışları hesapla
sales_trend = df_formatted.withColumn("year", year("DATE_FORMATTED")) \
                          .withColumn("month", month("DATE_FORMATTED")) \
                          .groupBy("year", "month") \
                          .agg(sum("LINENETTOTAL").alias("total_sales")) \
                          .orderBy("year", "month")

sales_trend.show()

+----+-----+-----------+
|year|month|total_sales|
+----+-----+-----------+
|NULL| NULL|       NULL|
|2017|    1|    88857.0|
|2017|    2|    91138.0|
|2017|    3|   112005.0|
+----+-----+-----------+

In [7]:
from pyspark.sql.functions import year, month, sum, to_timestamp, datediff, max, count, current_date, lit


# Tarihi doğru formata dönüştür
df_formatted = df.withColumn("DATE_FORMATTED", to_timestamp("DATE_", "d.MM.yyyy HH:mm"))

# Yıl ve aya göre toplam satışları hesapla
sales_trend = df_formatted.withColumn("year", year("DATE_FORMATTED")) \
                          .withColumn("month", month("DATE_FORMATTED")) \
                          .groupBy("year", "month") \
                          .agg(sum("LINENETTOTAL").alias("total_sales")) \
                          .orderBy("year", "month")

sales_trend.show()

# current_date'i bir Spark Column olarak al
current_date_col = current_date()

# RFM hesaplamasında bu Column'u kullan
rfm = df_formatted.withColumn("recency", datediff(current_date_col, "DATE_FORMATTED"))

# Diğer işlemler...
current_date_value = df_formatted.agg(max("DATE_FORMATTED")).collect()[0][0]

rfm = df_formatted.groupBy("CLIENTCODE") \
    .agg(
        datediff(lit(current_date_value), max("DATE_FORMATTED")).alias("recency"),
        count("FICHENO").alias("frequency"),
        sum("LINENETTOTAL").alias("monetary")
    )

rfm.show()

+----+-----+-----------+
|year|month|total_sales|
+----+-----+-----------+
|NULL| NULL|       NULL|
|2017|    1|    88857.0|
|2017|    2|    91138.0|
|2017|    3|   112005.0|
+----+-----+-----------+

+----------+-------+---------+--------+
|CLIENTCODE|recency|frequency|monetary|
+----------+-------+---------+--------+
|   1093856|     27|       39|    14.0|
|    536646|     22|       22|    NULL|
|    869396|     11|       31|    13.0|
|    924386|      1|       47|     8.0|
|    983041|     11|       15|     8.0|
|     17506|     42|       14|    10.0|
|    195395|      4|       52|    NULL|
|    164951|     36|        7|     3.0|
|    379975|      4|       16|     9.0|
|   1055537|      8|        8|     7.0|
|   1080760|     54|        8|     1.0|
|   1005313|     57|       48|    11.0|
|   1052349|     14|       70|    14.0|
|    350582|     36|        4|    NULL|
|    327859|     61|        7|    NULL|
|   1028795|      1|       22|    18.0|
|   1068016|     46|       23|     7.0|
|    308135|     10|       12|    43.0|
|    621401|     61|        7|     1.0|
|    508840|     13|       14|     1.0|
+----------+-------+---------+--------+
only showing top 20 rows

In [1]:
print("")

In [8]:

from pyspark.sql.functions import col

# Mağaza bazında satış adedi ve satış miktarını hesapla
top_stores = df_formatted.groupBy("BRANCH") \
                         .agg(
                             count("FICHENO").alias("total_sales_count"),
                             sum("LINENETTOTAL").alias("total_sales_amount")
                         ) \
                         .orderBy(col("total_sales_amount").desc())

top_stores.show()

+-----------------+-----------------+------------------+
|           BRANCH|total_sales_count|total_sales_amount|
+-----------------+-----------------+------------------+
|  İstanbul Subesi|           113620|           52096.0|
|    Ankara Subesi|            40694|           21048.0|
|     İzmir Subesi|            32326|           13859.0|
|   Antalya Subesi|            17371|           12526.0|
|Diyarbakır Subesi|            12384|            9528.0|
| Gümüşhane Subesi|             1187|            9029.0|
|     Bursa Subesi|            21215|            8773.0|
|     Adana Subesi|            15861|            7216.0|
|     Konya Subesi|            15886|            6989.0|
| Zonguldak Subesi|            14387|            6731.0|
|   Kocaeli Subesi|            14292|            6629.0|
| Şanlıurfa Subesi|            14824|            6474.0|
|    Mersin Subesi|            12513|            6118.0|
| Gaziantep Subesi|            14445|            5869.0|
|     Hatay Subesi|            11837|            5417.0|
|    Manisa Subesi|            10795|            4826.0|
|   Kayseri Subesi|            10470|            4591.0|
|    Samsun Subesi|             9792|            4217.0|
|       Van Subesi|             8827|            3920.0|
| Balıkesir Subesi|             9428|            3874.0|
+-----------------+-----------------+------------------+
only showing top 20 rows

#### En Popüler Ürünler

In [10]:
# En popüler ürünleri belirle
popular_products = df_formatted.groupBy("ITEMNAME") \
                               .agg(
                                   count("FICHENO").alias("total_sales_count"),
                                   sum("LINENETTOTAL").alias("total_sales_amount")
                               ) \
                               .orderBy(col("total_sales_count").desc())

popular_products.show()

+--------------------+-----------------+------------------+
|            ITEMNAME|total_sales_count|total_sales_amount|
+--------------------+-----------------+------------------+
|        EKMEK 250 GR|             9122|             294.0|
|                NULL|             7167|            5972.0|
|             DOMATES|             6018|             330.0|
|             PATATES|             5718|             360.0|
|            PORTAKAL|             5611|             248.0|
|           TOZ SEKER|             5242|            8984.0|
|               SOGAN|             4631|              68.0|
| OSMANCIK PIRINC KG.|             4101|            1218.0|
|               LIMON|             4093|              87.0|
|                 MUZ|             3934|             176.0|
|            KIVIRCIK|             3925|             701.0|
|            MAYDANOZ|             3808|             579.0|
|               HAVUC|             3632|              69.0|
|SİHİRLİ ELLER CİG...|             3566|            9510.0|
|F NEFFIS SÜT YARI...|             3253|              NULL|
|         YERLI BADEM|             2900|              96.0|
|ULKER CIKOLATALI ...|             2692|            1470.0|
|YAHYAOGLU 15 LI Y...|             2588|              NULL|
|   PORTAKAL SIKMALIK|             2561|              65.0|
|      SALKIM DOMATES|             2471|             100.0|
+--------------------+-----------------+------------------+
only showing top 20 rows

#### 2. Bölgesel Satış Analizi

In [9]:
# Bölgesel satış analizini yap
regional_sales = df_formatted.groupBy("REGION") \
                             .agg(
                                 count("FICHENO").alias("total_sales_count"),
                                 sum("LINENETTOTAL").alias("total_sales_amount")
                             ) \
                             .orderBy(col("total_sales_amount").desc())

regional_sales.show()

+-----------------+-----------------+------------------+
|           REGION|total_sales_count|total_sales_amount|
+-----------------+-----------------+------------------+
|          Marmara|           175658|           79029.0|
|       İç Anadolu|            96121|           45029.0|
|          Akdeniz|            75735|           39447.0|
|        Karadeniz|            67629|           39253.0|
|              Ege|            87170|           38200.0|
|Güneydoğu Anadolu|            63848|           31434.0|
|     Doğu Anadolu|            44938|           19608.0|
|             NULL|                1|              NULL|
+-----------------+-----------------+------------------+

#### Müşteri Segmentasyonu

In [11]:
# Müşterileri segmentlere ayır
customer_segments = rfm.withColumn("segment",
                                   when(col("recency") <= 30, "New")
                                   .when((col("recency") > 30) & (col("recency") <= 90), "Active")
                                   .otherwise("Inactive"))

customer_segments.show()

NameError: name 'when' is not defined

#### Satış Eğilimleri

In [12]:
# Zaman içindeki satış eğilimlerini analiz et
sales_trend = df_formatted.withColumn("DATE_FORMATTED", to_timestamp("DATE_", "d.MM.yyyy HH:mm")) \
                          .withColumn("year", year("DATE_FORMATTED")) \
                          .withColumn("month", month("DATE_FORMATTED")) \
                          .groupBy("year", "month") \
                          .agg(sum("LINENETTOTAL").alias("total_sales")) \
                          .orderBy("year", "month")

sales_trend.show()

+----+-----+-----------+
|year|month|total_sales|
+----+-----+-----------+
|NULL| NULL|       NULL|
|2017|    1|    88857.0|
|2017|    2|    91138.0|
|2017|    3|   112005.0|
+----+-----+-----------+

In [13]:
from pyspark.sql.functions import dayofyear

# Tarihi doğru formata dönüştür
df_formatted = df.withColumn("DATE_FORMATTED", to_timestamp("DATE_", "d.MM.yyyy HH:mm"))

# Yıla göre en çok satış yapılan günleri belirle
top_sales_days = df_formatted.withColumn("year", year("DATE_FORMATTED")) \
                             .withColumn("day_of_year", dayofyear("DATE_FORMATTED")) \
                             .groupBy("year", "day_of_year") \
                             .agg(sum("LINENETTOTAL").alias("total_sales")) \
                             .orderBy(col("total_sales").desc())

top_sales_days.show()

+----+-----------+-----------+
|year|day_of_year|total_sales|
+----+-----------+-----------+
|2017|         83|    11519.0|
|2017|         35|     9186.0|
|2017|         27|     6492.0|
|2017|         10|     6021.0|
|2017|         61|     5243.0|
|2017|         68|     4324.0|
|2017|         85|     4114.0|
|2017|         79|     3985.0|
|2017|         77|     3977.0|
|2017|         12|     3972.0|
|2017|         17|     3950.0|
|2017|         73|     3889.0|
|2017|         30|     3864.0|
|2017|         19|     3862.0|
|2017|         82|     3840.0|
|2017|         56|     3839.0|
|2017|         87|     3831.0|
|2017|         80|     3790.0|
|2017|         90|     3720.0|
|2017|         38|     3701.0|
+----+-----------+-----------+
only showing top 20 rows

#### En Popüler Ürünler