In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType

In [5]:
SparkSession = SparkSession.builder.appName("My first spark work").getOrCreate()

In [6]:
SparkSession

 **header = "true"** ile Spark, CSV'deki ilk satırı sütun başlıkları olarak kabul eder. **inferSchema = True** ile Spark, sütunların veri türlerini otomatik olarak belirler.

In [7]:
rawDF = SparkSession.read.csv("MOCK_DATA.csv", header="true", inferSchema=True)

In [8]:
rawDF.show()

+---+----------+------------+--------------------+-------+-------------+--------------------+
| id|first_name|   last_name|               email| gender|      country|                city|
+---+----------+------------+--------------------+-------+-------------+--------------------+
|  1|     Denys|Schiefersten|dschiefersten0@ch...| Female|       Brazil|     Paty do Alferes|
|  2| Kimberley|  Christophe|kchristophe1@icio.us| Female|    Indonesia|             Puutura|
|  3|      Burr|      Fursey|bfursey2@hostgato...|   Male|      Andorra|          la Massana|
|  4|      Otis|     Marriot| omarriot3@diigo.com|   Male|        China|               Wutun|
|  5|   Chester|    Trahearn| ctrahearn4@yale.edu|   Male|     Colombia|             Popayán|
|  6|   Humbert|      Dacres|  hdacres5@weibo.com|   Male|       Russia|          Zhukovskiy|
|  7| Nikoletta|   Hickisson|nhickisson6@weibo...| Female|        China|             Tianbao|
|  8|    Quincy|       Rough|qrough7@ezinearti...|Agender|         Peru|             Carumas|
|  9|     Marcy|      Debill|mdebill8@skyrock.com| Female|        China|               Boshi|
| 10|      Nate|     Scotson|nscotson9@mashabl...|   Male|     Portugal|               Mafra|
| 11|   Juliann|   Rewbottom|jrewbottoma@amebl...| Female|       Brazil|             Iturama|
| 12|   Zebedee|    Downgate|zdowngateb@blogge...|   Male|United States|       Oklahoma City|
| 13|      Guss|   Von Brook|gvonbrookc@sfgate...|   Male|     Thailand|         Sawankhalok|
| 14|    Angele|       Ilden|aildend@nationalg...| Female|    Venezuela|          Caucagüito|
| 15|   Roxanna|       Winks| rwinkse@reuters.com| Female| South Africa|            Mankoeng|
| 16|     Dulce|       Brito|  dbritof@boston.com| Female|         Peru|          Mollepampa|
| 17|   Cecilio|     Brabban|   cbrabbang@last.fm|   Male|       France|La Plaine-Saint-D...|
| 18|      Abel|      Deware|   adewareh@live.com|   Male|      Ukraine|        Novopokrovka|
| 19| Rochester|        Jost|rjosti@miibeian.g...|   Male|        China|                Hexi|
| 20|     Rowan|    Pawelski|rpawelskij@istock...|   Male|   Costa Rica|               Cañas|
+---+----------+------------+--------------------+-------+-------------+--------------------+
only showing top 20 rows

In [8]:
rawDF.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)

In [9]:
rawDF.show(truncate=False)

+---+----------+------------+---------------------------------+-------+-------------+---------------------+
|id |first_name|last_name   |email                            |gender |country      |city                 |
+---+----------+------------+---------------------------------+-------+-------------+---------------------+
|1  |Denys     |Schiefersten|dschiefersten0@chicagotribune.com|Female |Brazil       |Paty do Alferes      |
|2  |Kimberley |Christophe  |kchristophe1@icio.us             |Female |Indonesia    |Puutura              |
|3  |Burr      |Fursey      |bfursey2@hostgator.com           |Male   |Andorra      |la Massana           |
|4  |Otis      |Marriot     |omarriot3@diigo.com              |Male   |China        |Wutun                |
|5  |Chester   |Trahearn    |ctrahearn4@yale.edu              |Male   |Colombia     |Popayán              |
|6  |Humbert   |Dacres      |hdacres5@weibo.com               |Male   |Russia       |Zhukovskiy           |
|7  |Nikoletta |Hickisson   |nhickisson6@weibo.com            |Female |China        |Tianbao              |
|8  |Quincy    |Rough       |qrough7@ezinearticles.com        |Agender|Peru         |Carumas              |
|9  |Marcy     |Debill      |mdebill8@skyrock.com             |Female |China        |Boshi                |
|10 |Nate      |Scotson     |nscotson9@mashable.com           |Male   |Portugal     |Mafra                |
|11 |Juliann   |Rewbottom   |jrewbottoma@ameblo.jp            |Female |Brazil       |Iturama              |
|12 |Zebedee   |Downgate    |zdowngateb@blogger.com           |Male   |United States|Oklahoma City        |
|13 |Guss      |Von Brook   |gvonbrookc@sfgate.com            |Male   |Thailand     |Sawankhalok          |
|14 |Angele    |Ilden       |aildend@nationalgeographic.com   |Female |Venezuela    |Caucagüito           |
|15 |Roxanna   |Winks       |rwinkse@reuters.com              |Female |South Africa |Mankoeng             |
|16 |Dulce     |Brito       |dbritof@boston.com               |Female |Peru         |Mollepampa           |
|17 |Cecilio   |Brabban     |cbrabbang@last.fm                |Male   |France       |La Plaine-Saint-Denis|
|18 |Abel      |Deware      |adewareh@live.com                |Male   |Ukraine      |Novopokrovka         |
|19 |Rochester |Jost        |rjosti@miibeian.gov.cn           |Male   |China        |Hexi                 |
|20 |Rowan     |Pawelski    |rpawelskij@istockphoto.com       |Male   |Costa Rica   |Cañas                |
+---+----------+------------+---------------------------------+-------+-------------+---------------------+
only showing top 20 rows

In [9]:
type(rawDF.columns)

list

In [10]:
rawDF.columns

['id', 'first_name', 'last_name', 'email', 'gender', 'country', 'city']

In [11]:
rawDF.count()

1000

In [12]:
rawDF.head(2)

[Row(id=1, first_name='Denys', last_name='Schiefersten', email='dschiefersten0@chicagotribune.com', gender='Female', country='Brazil', city='Paty do Alferes'),
 Row(id=2, first_name='Kimberley', last_name='Christophe', email='kchristophe1@icio.us', gender='Female', country='Indonesia', city='Puutura')]

In [13]:
nameCountryDF = rawDF.select('first_name', 'country')

In [14]:
nameCountryDF.show()

+----------+-------------+
|first_name|      country|
+----------+-------------+
|     Denys|       Brazil|
| Kimberley|    Indonesia|
|      Burr|      Andorra|
|      Otis|        China|
|   Chester|     Colombia|
|   Humbert|       Russia|
| Nikoletta|        China|
|    Quincy|         Peru|
|     Marcy|        China|
|      Nate|     Portugal|
|   Juliann|       Brazil|
|   Zebedee|United States|
|      Guss|     Thailand|
|    Angele|    Venezuela|
|   Roxanna| South Africa|
|     Dulce|         Peru|
|   Cecilio|       France|
|      Abel|      Ukraine|
| Rochester|        China|
|     Rowan|   Costa Rica|
+----------+-------------+
only showing top 20 rows

In [64]:
rawDF.describe().show(truncate=False)

+-------+-----------------+----------+----------+------------------------+----------+-----------+-----------+
|summary|id               |first_name|last_name |email                   |gender    |country    |city       |
+-------+-----------------+----------+----------+------------------------+----------+-----------+-----------+
|count  |1000             |1000      |1000      |1000                    |1000      |1000       |1000       |
|mean   |500.5            |NULL      |NULL      |NULL                    |NULL      |NULL       |NULL       |
|stddev |288.8194360957494|NULL      |NULL      |NULL                    |NULL      |NULL       |NULL       |
|min    |1                |Aaron     |Abade     |aagent4h@plala.or.jp    |Agender   |Afghanistan|Abomsa     |
|max    |1000             |Zsa zsa   |de Bullion|zsteadmanmx@edublogs.org|Polygender|Zambia     |Ḩammām Damt|
+-------+-----------------+----------+----------+------------------------+----------+-----------+-----------+

In [69]:
neweIdDF = rawDF.withColumn('new_id', rawDF['id'] + 1000)

In [70]:
neweIdDF.show()

+---+----------+------------+--------------------+-------+-------------+--------------------+------+
| id|first_name|   last_name|               email| gender|      country|                city|new_id|
+---+----------+------------+--------------------+-------+-------------+--------------------+------+
|  1|     Denys|Schiefersten|dschiefersten0@ch...| Female|       Brazil|     Paty do Alferes|  1001|
|  2| Kimberley|  Christophe|kchristophe1@icio.us| Female|    Indonesia|             Puutura|  1002|
|  3|      Burr|      Fursey|bfursey2@hostgato...|   Male|      Andorra|          la Massana|  1003|
|  4|      Otis|     Marriot| omarriot3@diigo.com|   Male|        China|               Wutun|  1004|
|  5|   Chester|    Trahearn| ctrahearn4@yale.edu|   Male|     Colombia|             Popayán|  1005|
|  6|   Humbert|      Dacres|  hdacres5@weibo.com|   Male|       Russia|          Zhukovskiy|  1006|
|  7| Nikoletta|   Hickisson|nhickisson6@weibo...| Female|        China|             Tianbao|  1007|
|  8|    Quincy|       Rough|qrough7@ezinearti...|Agender|         Peru|             Carumas|  1008|
|  9|     Marcy|      Debill|mdebill8@skyrock.com| Female|        China|               Boshi|  1009|
| 10|      Nate|     Scotson|nscotson9@mashabl...|   Male|     Portugal|               Mafra|  1010|
| 11|   Juliann|   Rewbottom|jrewbottoma@amebl...| Female|       Brazil|             Iturama|  1011|
| 12|   Zebedee|    Downgate|zdowngateb@blogge...|   Male|United States|       Oklahoma City|  1012|
| 13|      Guss|   Von Brook|gvonbrookc@sfgate...|   Male|     Thailand|         Sawankhalok|  1013|
| 14|    Angele|       Ilden|aildend@nationalg...| Female|    Venezuela|          Caucagüito|  1014|
| 15|   Roxanna|       Winks| rwinkse@reuters.com| Female| South Africa|            Mankoeng|  1015|
| 16|     Dulce|       Brito|  dbritof@boston.com| Female|         Peru|          Mollepampa|  1016|
| 17|   Cecilio|     Brabban|   cbrabbang@last.fm|   Male|       France|La Plaine-Saint-D...|  1017|
| 18|      Abel|      Deware|   adewareh@live.com|   Male|      Ukraine|        Novopokrovka|  1018|
| 19| Rochester|        Jost|rjosti@miibeian.g...|   Male|        China|                Hexi|  1019|
| 20|     Rowan|    Pawelski|rpawelskij@istock...|   Male|   Costa Rica|               Cañas|  1020|
+---+----------+------------+--------------------+-------+-------------+--------------------+------+
only showing top 20 rows

In [73]:
countByCityDF = rawDF.groupby('country').count()

In [76]:
countByCityDF.filter("country='Russia'").show()

+-------+-----+
|country|count|
+-------+-----+
| Russia|   53|
+-------+-----+

In [82]:
rawDF.filter("id >  500").show()

+---+----------+--------------------+--------------------+----------+-----------+-----------------+
| id|first_name|           last_name|               email|    gender|    country|             city|
+---+----------+--------------------+--------------------+----------+-----------+-----------------+
|501|    Dalton|             Meineck| dmeineckdw@webs.com|      Male|Philippines|          Bagulin|
|502|   Branden|             Lebourn|blebourndx@apache...|      Male|      China|          Sunfang|
|503|     Tabor|              Robert|    trobertdy@un.org|      Male|   Thailand|         Mukdahan|
|504|Georgeanna|             Causbey|gcausbeydz@flickr...|    Female|    Ireland|    Bailieborough|
|505|    Dorine|            Bellison| dbellisone0@com.com|    Female|      China|         Lingyuan|
|506|    Rustin|            Halleday|rhalledaye1@scien...|Polygender|      Syria|   Al Ghizlānīyah|
|507|   Shaylah|         Hollingsbee|shollingsbeee2@co...|    Female|    Vietnam|      Xuân Trường|
|508|   Andonis|             Tesdale|atesdalee3@topsy.com|      Male|     Serbia|Sremska Mitrovica|
|509|      Hart|               Skuse|   hskusee4@hibu.com|      Male|   Malaysia|       Alor Setar|
|510|   Amaleta|            Lamminam|alamminame5@pcwor...|Polygender|     France|            Nancy|
|511|   Vidovik|             Goligly|vgoliglye6@washin...|      Male|    Denmark|        København|
|512|     Trina|                Broz|   tbroze7@goo.ne.jp|    Female|     Russia|         Maslovka|
|513|     Drugi|             Fortnum|dfortnume8@samsun...|Polygender|      Japan|          Maizuru|
|514|     Joana|              Gianni|   jgiannie9@usa.gov|Non-binary|    Ireland|     Caherconlish|
|515|      Gale|               Neate|gneateea@gravatar...|      Male|      China|           Waihai|
|516|  Darlleen|          Kinningley| dkinningleyeb@ow.ly|    Female|      China|       Shuangjing|
|517|    Dulcie|              Parvin|dparvinec@yahoo.c...|    Female|      China|          Huangbu|
|518|   Reynold|             Claiden|rclaidened@vimeo.com|      Male|Philippines|            Duran|
|519|  Jeremiah|Weddeburn - Scrim...|jweddeburnscrimge...|      Male|   Colombia|           Galapa|
|520|   Kristan|             Bechley|   kbechleyef@goo.gl|    Female|     Russia|    Yegorlykskaya|
+---+----------+--------------------+--------------------+----------+-----------+-----------------+
only showing top 20 rows

In [86]:
rawDF.filter(rawDF['id'] > 500).show()

+---+----------+--------------------+--------------------+----------+-----------+-----------------+
| id|first_name|           last_name|               email|    gender|    country|             city|
+---+----------+--------------------+--------------------+----------+-----------+-----------------+
|501|    Dalton|             Meineck| dmeineckdw@webs.com|      Male|Philippines|          Bagulin|
|502|   Branden|             Lebourn|blebourndx@apache...|      Male|      China|          Sunfang|
|503|     Tabor|              Robert|    trobertdy@un.org|      Male|   Thailand|         Mukdahan|
|504|Georgeanna|             Causbey|gcausbeydz@flickr...|    Female|    Ireland|    Bailieborough|
|505|    Dorine|            Bellison| dbellisone0@com.com|    Female|      China|         Lingyuan|
|506|    Rustin|            Halleday|rhalledaye1@scien...|Polygender|      Syria|   Al Ghizlānīyah|
|507|   Shaylah|         Hollingsbee|shollingsbeee2@co...|    Female|    Vietnam|      Xuân Trường|
|508|   Andonis|             Tesdale|atesdalee3@topsy.com|      Male|     Serbia|Sremska Mitrovica|
|509|      Hart|               Skuse|   hskusee4@hibu.com|      Male|   Malaysia|       Alor Setar|
|510|   Amaleta|            Lamminam|alamminame5@pcwor...|Polygender|     France|            Nancy|
|511|   Vidovik|             Goligly|vgoliglye6@washin...|      Male|    Denmark|        København|
|512|     Trina|                Broz|   tbroze7@goo.ne.jp|    Female|     Russia|         Maslovka|
|513|     Drugi|             Fortnum|dfortnume8@samsun...|Polygender|      Japan|          Maizuru|
|514|     Joana|              Gianni|   jgiannie9@usa.gov|Non-binary|    Ireland|     Caherconlish|
|515|      Gale|               Neate|gneateea@gravatar...|      Male|      China|           Waihai|
|516|  Darlleen|          Kinningley| dkinningleyeb@ow.ly|    Female|      China|       Shuangjing|
|517|    Dulcie|              Parvin|dparvinec@yahoo.c...|    Female|      China|          Huangbu|
|518|   Reynold|             Claiden|rclaidened@vimeo.com|      Male|Philippines|            Duran|
|519|  Jeremiah|Weddeburn - Scrim...|jweddeburnscrimge...|      Male|   Colombia|           Galapa|
|520|   Kristan|             Bechley|   kbechleyef@goo.gl|    Female|     Russia|    Yegorlykskaya|
+---+----------+--------------------+--------------------+----------+-----------+-----------------+
only showing top 20 rows

In [89]:
gender_count = rawDF.groupBy("gender").count()

In [90]:
gender_count.show()

+-----------+-----+
|     gender|count|
+-----------+-----+
|Genderqueer|   23|
|    Agender|   22|
|     Female|  442|
| Polygender|   16|
|   Bigender|   19|
| Non-binary|   25|
|       Male|  441|
|Genderfluid|   12|
+-----------+-----+

In [92]:
country_gender_distribution = rawDF.groupBy("country", "gender").count().orderBy("country", "count", ascending=False)
country_gender_distribution.show()

+--------------+-----------+-----+
|       country|     gender|count|
+--------------+-----------+-----+
|        Zambia|Genderfluid|    1|
|         Yemen|     Female|    4|
|         Yemen|       Male|    2|
|       Vietnam|     Female|    6|
|       Vietnam|       Male|    5|
|       Vietnam|    Agender|    1|
|     Venezuela|     Female|    7|
|     Venezuela| Non-binary|    1|
|    Uzbekistan|       Male|    2|
| United States|       Male|   10|
| United States|     Female|    8|
| United States|Genderfluid|    1|
|United Kingdom|     Female|    1|
|United Kingdom|       Male|    1|
|       Ukraine|       Male|    7|
|       Ukraine|     Female|    6|
|       Ukraine| Polygender|    1|
|       Ukraine| Non-binary|    1|
|        Uganda|     Female|    2|
|        Uganda|    Agender|    1|
+--------------+-----------+-----+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import col, count, when, sum, round

# Ülkelere göre cinsiyet dağılımı ve oranları
country_gender_analysis = rawDF.groupBy("country") \
    .agg(
        count("*").alias("total_count"),
        count(when(col("gender") == "Male", True)).alias("male_count"),
        count(when(col("gender") == "Female", True)).alias("female_count"),
        round(count(when(col("gender") == "Male", True)) / count("*") * 100, 2).alias("male_percentage"),
        round(count(when(col("gender") == "Female", True)) / count("*") * 100, 2).alias("female_percentage")
    ) \
    .orderBy(col("total_count").desc())

country_gender_analysis.show()

+--------------+-----------+----------+------------+---------------+-----------------+
|       country|total_count|male_count|female_count|male_percentage|female_percentage|
+--------------+-----------+----------+------------+---------------+-----------------+
|         China|        199|        83|          88|          41.71|            44.22|
|     Indonesia|         99|        42|          49|          42.42|            49.49|
|   Philippines|         59|        25|          27|          42.37|            45.76|
|        Russia|         53|        30|          19|           56.6|            35.85|
|        Brazil|         37|        21|          14|          56.76|            37.84|
|        Poland|         36|        14|          16|          38.89|            44.44|
|      Portugal|         36|        18|          17|           50.0|            47.22|
|        France|         27|        14|          11|          51.85|            40.74|
|          Peru|         22|         8|          10|          36.36|            45.45|
|        Sweden|         19|        12|           6|          63.16|            31.58|
| United States|         19|        10|           8|          52.63|            42.11|
|      Thailand|         17|         9|           7|          52.94|            41.18|
|        Greece|         15|         7|           7|          46.67|            46.67|
|       Ukraine|         15|         7|           6|          46.67|             40.0|
|Czech Republic|         13|         6|           5|          46.15|            38.46|
|     Argentina|         12|         4|           6|          33.33|             50.0|
|      Colombia|         12|         6|           3|           50.0|             25.0|
|         Japan|         12|         3|           4|           25.0|            33.33|
|       Vietnam|         12|         5|           6|          41.67|             50.0|
|       Nigeria|         11|         6|           3|          54.55|            27.27|
+--------------+-----------+----------+------------+---------------+-----------------+
only showing top 20 rows

In [11]:
rawDF.drop('email').show(truncate=False)

+---+----------+------------+-------+-------------+---------------------+
|id |first_name|last_name   |gender |country      |city                 |
+---+----------+------------+-------+-------------+---------------------+
|1  |Denys     |Schiefersten|Female |Brazil       |Paty do Alferes      |
|2  |Kimberley |Christophe  |Female |Indonesia    |Puutura              |
|3  |Burr      |Fursey      |Male   |Andorra      |la Massana           |
|4  |Otis      |Marriot     |Male   |China        |Wutun                |
|5  |Chester   |Trahearn    |Male   |Colombia     |Popayán              |
|6  |Humbert   |Dacres      |Male   |Russia       |Zhukovskiy           |
|7  |Nikoletta |Hickisson   |Female |China        |Tianbao              |
|8  |Quincy    |Rough       |Agender|Peru         |Carumas              |
|9  |Marcy     |Debill      |Female |China        |Boshi                |
|10 |Nate      |Scotson     |Male   |Portugal     |Mafra                |
|11 |Juliann   |Rewbottom   |Female |Brazil       |Iturama              |
|12 |Zebedee   |Downgate    |Male   |United States|Oklahoma City        |
|13 |Guss      |Von Brook   |Male   |Thailand     |Sawankhalok          |
|14 |Angele    |Ilden       |Female |Venezuela    |Caucagüito           |
|15 |Roxanna   |Winks       |Female |South Africa |Mankoeng             |
|16 |Dulce     |Brito       |Female |Peru         |Mollepampa           |
|17 |Cecilio   |Brabban     |Male   |France       |La Plaine-Saint-Denis|
|18 |Abel      |Deware      |Male   |Ukraine      |Novopokrovka         |
|19 |Rochester |Jost        |Male   |China        |Hexi                 |
|20 |Rowan     |Pawelski    |Male   |Costa Rica   |Cañas                |
+---+----------+------------+-------+-------------+---------------------+
only showing top 20 rows